<!--new post page-->
{% extends "base.html" %}

{% block content %}
    <h1>new post</h1>
    
    <form action="/newpost" method="post" class="form-signin">
        <label class="card-text mb-auto" style="font-size: 1.3em;">title</label>
        <div class="post-title-input">
            <input type='text' name='post-title' value='{{post_title}}' class="form-control">
        </div>
        <label class="card-text mb-auto" style="font-size: 1.3em;">body</label>
        <div>
            <textarea class="post-body-input" name='post-body' value='{{post_body}}' class="form-control"></textarea>
        </div>
        <div class="error">{{error}}</div>
        <input type="submit" value='Add Entry'>
    </form>
    
{% endblock %}