{% extends "base.html" %}

{% block content %}
<h1>signup</h1>

<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{username}}">
                <span class="error" name="user-error">{{user_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password" value="{{password}}">
                <span class="error" name="pass-error">{{pass_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password" value="{{verify}}">
                <span class="error" name="verify-error">{{verify_error}}</span>
            </td>
        </tr>
    </table>
    <input type="submit">
</form>

{% endblock %}